<app-card>
  <p class="text-center">
    <img src="assets/icon.png" width="200" alt="ToDo">
  </p>
  <h1 class="text-center">Let's <span style="color: #fa4d73;">ToDo</span> It!</h1>
  <br>
  <p class="text-center">
    <app-button (click)="login()">
      <i class="fa fa-google"></i>
      Entrar com Google  
    </app-button>
    <!-- <app-button class="fb-button" (click)="loginFb()">
      <i class="fa fa-facebook"></i>
      Entrar com Facebook
    </app-button>     -->
  </p>
</app-card>
